import(methods)
importFrom(utils, read.table, write.table)
importFrom(stats, setNames)
importFrom(rjson, fromJSON)

import(BiocParallel)
import(S4Vectors)
import(IRanges)
import(GenomeInfoDb)
import(Biostrings)
import(BSgenome)
import(GenomicRanges)

export(
    quick_preview_RefSNP_json,
    extract_snvs_from_RefSNP_json,
    extract_raw_snps_from_RefSNP_json,
    build_OnDiskLongTable
)

